* {
    margin: 0;
    padding: 0;
}


/* =================
    Header styles
   =================  */

header {
    width: 100%;
    background-image: linear-gradient(#4d79a0 ,#386487);
    text-align: center;
    display: inline-block;
    height: 50px;
    position: fixed;
    z-index: 50;
}

.homebutton {
    display: inline-block;
    position: relative;
    left: -550px;
}
.homebutton img {
    height: 50px;
}


.headerlogo {
    height: 50px;
    display: inline-block;
}
.headerlogo img {
    display: inline-block;
    height: 40px;
    position: relative;
    right: -80px;
}


.picAndUsername {
    display: inline-block;
    position: relative;
    right: -450px;
    top: -20px;
    border-left: 2px groove #4d79a0;
    border-right: 2px ridge #4d79a0;
    height: 100%;
    width: 150px;
    right: -600px;
}

.picAndUsername a {
    display: inline-block;
}

.picAndUsername img {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    bottom: -10px;
}
.picAndUsername p {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: white;
    display: inline-block;
    padding-left: 10px;
}



/* =================
    body styles
   =================  */

body {
    background-color: #ecedee;
    overflow-y: scroll;
}

.feedbox {
    border: 1px solid #bdbdbd;
    background-color: #e0e1e2;
    width: 35%;
    min-height: 100%;
    position: relative;
    right: -34%;
    padding-top: 60px;
    display: block;
}


/* =================
    Post Format and Styles
   =================  */


.feedposts {
    border: 1px solid #bdbdbd;
    background-color: white;
    width: 90%;
    height: 850px;
    text-align: center;
    position: relative;
    right: -5%;
    margin-bottom: 50px;
}

.feedposts img {
    width: 100%;
    height: 500px;
}

.post {
    width: 100%;
    height: 500px;
}

.likebar {
    display: inline-block;
    background-color: #fafafa;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.likebar p {
    text-align: left;
    position: relative;
    bottom: -15px;
    right: -10px;
}



[id^='peopleWhoLikedPost'] #usernameComment,
.infoAndComments #usernameComment,
#usernameComment,
#hashtags
{
    color: #427198;
    font-size: 14px;
}
[id^='peopleWhoLikedPost'] p {
    font-family: sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    color: gray;
}



/* =================
    Icons for Posts
   =================  */


[id^='heart'] {
    height: 100% !important;
    width: 50px !important;
    float: left;
    position: relative;
    bottom: -2px;
}

[id^='likedheart'] {
    height: 100% !important;
    width: 50px !important;
    float: left;
    display: none;
}

[id^='moreOptions'] {
    height: 100% !important;
    width: 50px !important;
    float: right;
    position: relative;
    top: -16px;
}

/* =================
    DropDown Lists
   =================  */


.moreOptionsMenu {
    list-style-type: none;
    text-align: left;
    border: 1px solid black;
    width: 100px;
    position: absolute;
    right: 0px;
    display: none;
    z-index: 50;
    background-color: white;
}

/* =================
    Comment format and styling
   =================  */

form {
    height: 20px;
}

[id='infoAndComments'] {
    background-color: #fafafa;
    border-top: 1px solid #bdbdbd;
    position:relative;
    width: 100%;
    height: 300px;
}

#usernameComment {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 14px;
    padding-right: 10px;
}

#commentPicIcon {
    height: 25px;
    width: 25px;
    display: block;
    float: left;
    padding-left: 22px;
    padding-right: 15px;
    top:-200px;
}

#firstLine {
    display: block;
    position: relative;
    text-align: left;
    top: -180px;
    font-family: sans-serif;
    font-size: 14px;
}

#hashtags {
    display: block;
    position: relative;
    text-align: left;
    float: left;
    top: -175px;
    font-family: sans-serif;
}

[class^="commentList"] {
    text-align: left;
    list-style-type: none;
    padding-left: 50px;
    padding-right: 50px;
    overflow-x: hidden;
    overflow-y:auto;
    height: 22%;
    position: relative;
    bottom: -67px;
}

[class^="commentListClass"] li {
    padding-bottom: 5px;
    overflow-x: hidden;
    overflow-y:auto;
}


[id^="commentTextBox"] {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    position: relative;
    bottom: -275px;
}